/* ================== PLACEHOLDERS ================== */
.footer-social-list, .portfolio-list, .portfolio-filter, .studio-clients-list, .studio-team-list, .studio-doing-list, .studio-about-list, .mobile-menu-navigation, .contacts-list, .menu, .studio-socials-list {
  list-style: none;
}

/* ================== /PLACEHOLDERS ================== */
/* ================== COMMON ================== */
/* For tegs */
body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  /* list-style-type: none; */
}

img {
  display: block;
  max-width: 100%;
}

button {
  color: currentColor;
}

/* === Classes === */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

/* ================== /COMMON ================== */
/* ================== SECTION ================== */
/* Mobile */
@media screen and (max-width: 767px) {
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
/* Desktop */
@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
/* ================== /SECTION ================== */
/* ================== CONTAINER ================== */
/* Mobile */
@media screen and (max-width: 767px) {
  .container {
    max-width: 428px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container {
    width: 768px;
    /* Double */
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    /* /Double */
  }
}
/* Desktop */
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    /* Double */
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    /* /Double */
  }
}
/* ================== /CONTAINER ================== */
/* ================== LOGOTYPE ================== */
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4D5AE5;
}
.logo-dark {
  color: #2E2F42;
}
.logo-light {
  color: #F4F4FD;
}

/* Mobile */
@media screen and (max-width: 767px) {
  .logo {
    margin: 0;
  }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .logo {
    margin-right: 120px;
  }
}
/* Desktop */
@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
}
/* ================== /LOGOTYPE ================== */
/* ================== BUTTONS ================== */
.btn {
  padding: 12px 24px;
  cursor: pointer;
  border: 1px solid #E7E9FC;
  border-radius: 4px;
  background-color: #F4F4FD;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4D5AE5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  border: 1px solid transparent;
  background-color: #404BBF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Button close */
.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #E7E9FC;
  line-height: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover, .close-btn:focus {
  border: none;
  background-color: #404BBF;
}
.close-btn:hover .icon-close, .close-btn:focus .icon-close {
  fill: #ffffff;
}

.icon-close {
  fill: #2E2F42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* /Button close */
/* ================== /BUTTONS ================== */
/* ================== TITLE ================== */
.title {
  margin-bottom: 72px;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.045em;
  color: #2E2F42;
}

/* Mobile */
@media screen and (max-width: 767px) {
  .title-card {
    margin-bottom: 8px;
    text-align: center;
    font-size: 36px;
    line-height: 1.1111111111;
    letter-spacing: 0.02em;
  }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .title-card {
    margin-bottom: 8px;
    font-size: 36px;
    line-height: 1.1111111111;
    letter-spacing: 0.02em;
  }
}
/* Desktop */
@media screen and (min-width: 1158px) {
  .title-card {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.025em;
    color: #2E2F42;
  }
}
.studio-title-card {
  margin-bottom: 8px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.025em;
  color: #2E2F42;
}

/* ================== /TITLE ================== */
/* ================== DESCRIPTION ================== */
/* Mobile */
@media screen and (max-width: 767px) {
  .card-description {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .card-description {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* Desktop */
@media screen and (min-width: 1158px) {
  .card-description {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
}
.studio-card-description {
  margin-bottom: 8px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ================== /DESCRIPTION ================== */
/* ================== SOCIAL-LINKS ================== */
/* Mobile-min */
@media screen and (max-width: 427px) {
  .studio-socials-list {
    display: flex;
    gap: 24px;
  }
  .mobile-menu-content .studio-socials-list {
    display: flex;
    gap: 24px;
    justify-content: center;
  }
}
/* Mobile */
@media screen and (min-width: 428px) and (max-width: 767px) {
  .studio-socials-list {
    display: flex;
    gap: 24px;
  }
  .mobile-menu-content .studio-socials-list {
    display: flex;
    gap: 56px;
    justify-content: center;
  }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .studio-socials-list {
    display: flex;
    gap: 24px;
  }
}
/* Desktop */
@media screen and (min-width: 1158px) {
  .studio-socials-list {
    display: flex;
    gap: 24px;
  }
}
.social-item {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  justify-content: center;
  border-radius: 50%;
}
.social-item .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4D5AE5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-item .link:hover, .social-item .link:focus-visible {
  background-color: #404BBF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Studio-team */
.studio-social-icon {
  flex-shrink: 0;
  fill: #F4F4FD;
}

/* ================== /SOCIAL-LINKS ================== */
/* ================== HEADER ================== */
.header-page {
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

/* Mobile-min */
@media screen and (max-width: 427px) {
  .header-page {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .burger-menu-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    line-height: 0;
  }
  .icon-burger-menu-btn {
    stroke: #2E2F42;
  }
  .menu {
    display: none;
  }
  .menu-link {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1111111111;
    letter-spacing: 0.045em;
    text-transform: capitalize;
    color: #2E2F42;
  }
  .contacts {
    display: none;
  }
  .contacts-list {
    display: flex;
    gap: 40px;
    flex-direction: column-reverse;
  }
  .contacts-item.tel {
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1538461538;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #404BBF;
  }
  .contacts-item.email {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.025em;
    color: #434455;
  }
}
/* Mobile */
@media screen and (min-width: 428px) and (max-width: 767px) {
  .header-page {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .burger-menu-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    line-height: 0;
  }
  .icon-burger-menu-btn {
    stroke: #2E2F42;
  }
  .menu {
    display: none;
  }
  .menu-link {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1111111111;
    letter-spacing: 0.045em;
    text-transform: capitalize;
    color: #2E2F42;
  }
  .contacts {
    display: none;
  }
  .contacts-list {
    display: flex;
    gap: 40px;
    flex-direction: column-reverse;
  }
  .contacts-item.tel {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1111111111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #404BBF;
  }
  .contacts-item.email {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.025em;
    color: #434455;
  }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .header-container {
    display: flex;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .menu {
    display: flex;
    gap: 40px;
  }
  .menu .current {
    color: #404BBF;
  }
  .menu-link {
    position: relative;
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-link:hover, .menu-link:focus {
    color: #404BBF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    flex-shrink: 0;
    background-color: #404BBF;
    border-radius: 2px;
  }
  .contacts {
    font-style: normal;
    align-items: center;
    margin-left: auto;
  }
  .contacts-list {
    display: flex;
    gap: 12px;
    flex-direction: column;
    padding: 16px 0;
  }
  .contacts-item {
    display: block;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-item:hover, .contacts-item:focus {
    color: #404BBF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu {
    display: none;
  }
  .burger-menu-btn {
    display: none;
  }
}
/* Desktop */
@media screen and (min-width: 1158px) {
  /* Double */
  .header-container {
    display: flex;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .menu {
    display: flex;
    gap: 40px;
  }
  .menu .current {
    color: #404BBF;
  }
  .menu-link {
    position: relative;
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-link:hover, .menu-link:focus {
    color: #404BBF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    flex-shrink: 0;
    background-color: #404BBF;
    border-radius: 2px;
  }
  .contacts {
    font-style: normal;
    align-items: center;
    margin-left: auto;
  }
  .contacts-list {
    display: flex;
    gap: 40px;
  }
  .contacts-item {
    display: block;
    padding: 24px 0;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-item:hover, .contacts-item:focus {
    color: #404BBF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  /* Double */
  .mobile-menu {
    display: none;
  }
  .burger-menu-btn {
    display: none;
  }
  /* /Double */
}
/* ================== /HEADER ================== */
/* ================== MOBILE MENU ================== */
.mobile-menu {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #ffffff;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  transform: translateX(0%);
}
.mobile-menu-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}
.mobile-menu-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 80px 20px 40px 25px;
}
.mobile-menu-navigation {
  display: flex;
  gap: 40px;
  flex-direction: column;
}
.mobile-menu-navigation .current {
  color: #404BBF;
}
.mobile-menu-contacts {
  margin-top: auto;
  margin-bottom: 48px;
}

/* ================== /MOBILE MENU ================== */
/* ================== MODAL WINDOW ================== */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(46, 47, 66, 0.4);
}
.modal-backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 24px;
  padding-top: 72px;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  flex-shrink: 0;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Modal form */
.modal-form-description {
  margin-bottom: 16px;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2E2F42;
}
.modal-form-element {
  margin-bottom: 8px;
}
.modal-form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8E8F99;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  padding-left: 38px;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  font-size: 18px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  outline-color: transparent;
  outline-offset: 4px;
  border-color: #4D5AE5;
  fill: #4D5AE5;
}
.modal-form-input:focus + .modal-form-icon {
  fill: #4D5AE5;
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2E2F42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-element-texarea {
  margin-bottom: 16px;
}
.modal-form-texarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-texarea:focus {
  outline-color: transparent;
  outline-offset: 4px;
  border-color: #4D5AE5;
}
.modal-form-texarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #8E8F99;
}
.modal-form-texarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #8E8F99;
}
.modal-form-element-checkbox {
  margin-bottom: 24px;
}
.modal-form-input-checkbox:checked + .modal-form-checkbox-label .modal-form-span-checkbox {
  background-color: #404BBF;
  border: none;
  fill: #F4F4FD;
}
.modal-form-checkbox-label {
  display: block;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8E8F99;
}
.modal-form-checkbox-label a {
  text-decoration: underline;
  color: #4D5AE5;
}
.modal-form-span-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  cursor: pointer;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-wrapper {
  position: relative;
}

/* Mobile-min */
@media screen and (max-width: 427px) {
  .modal-window {
    width: 290px;
  }
}
/* Mobile */
@media screen and (min-width: 428px) and (max-width: 767px) {
  .modal-window {
    width: 392px;
  }
}
/* ================== /MODAL WINDOW ================== */
/* ================== STUDIO HERO ================== */
/* Mobile */
@media screen and (max-width: 767px) {
  .studio-hero {
    max-width: 767px;
    padding-top: 112px;
    padding-bottom: 112px;
    margin: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people-office-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #2E2F42;
  }
  .studio-hero-title {
    max-width: 320px;
    margin-right: auto;
    margin-bottom: 72px;
    margin-left: auto;
    text-align: center;
    font-size: 36px;
    line-height: 1.1111111111;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .studio-hero {
    max-width: 1157px;
    padding-top: 112px;
    padding-bottom: 112px;
    margin: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people-office-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #2E2F42;
  }
  .studio-hero-title {
    max-width: 496px;
    margin-right: auto;
    margin-bottom: 36px;
    margin-left: auto;
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
}
/* Desktop */
@media screen and (min-width: 1158px) {
  .studio-hero {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    margin: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people-office.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #2E2F42;
  }
  .studio-hero-title {
    max-width: 496px;
    margin-right: auto;
    margin-bottom: 48px;
    margin-left: auto;
    text-align: center;
    font-size: 54px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
}
.studio-hero-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #4D5AE5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio-hero-btn:hover, .studio-hero-btn:focus {
  background-color: #404BBF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px), screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .studio-hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people-office-mobile@2x.jpg");
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1157px), screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1157px), screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1157px), screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1157px) {
  .studio-hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people-office-tablet@2x.jpg");
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1158px), screen and (min-resolution: 192dpi) and (min-width: 1158px), screen and (min-resolution: 2dppx) and (min-width: 1158px), screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
  .studio-hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people-office@2x.jpg");
  }
}
/* ================== /STUDIO HERO ================== */
/* ================== STUDIO ABOUT ================== */
/* Mobile */
@media screen and (max-width: 767px) {
  .about-icon-container {
    display: none;
  }
  .studio-about-list {
    display: flex;
    gap: 72px;
    flex-direction: column;
  }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .studio-about-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .studio-about-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .about-icon-container {
    display: none;
  }
}
/* Desktop */
@media screen and (min-width: 1158px) {
  .about-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: #F4F4FD;
  }
  .studio-about-list {
    display: flex;
    gap: 24px;
  }
  .studio-about-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .studio-about-icon {
    flex-shrink: 0;
  }
}
/* ================== /STUDIO ABOUT ================== */
/* ================== STUDIO DOING ================== */
/* Mobile */
@media screen and (max-width: 767px) {
  .studio-doing {
    display: none;
  }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .studio-doing {
    display: none;
  }
}
/* Desktop */
@media screen and (min-width: 1158px) {
  .studio-doing {
    padding-bottom: 120px;
  }
  .studio-doing-list {
    display: flex;
    gap: 24px;
  }
  .studio-doing-item {
    border: 1px solid #E7E9FC;
  }
}
/* ================== /STUDIO DOING ================== */
/* ================== STUDIO TEAM ================== */
.studio-team {
  background-color: #F4F4FD;
}

/* Mobile */
@media screen and (max-width: 767px) {
  .studio-team-list {
    display: flex;
    gap: 72px;
    flex-direction: column;
  }
  .studio-team-card {
    width: 264px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    background-color: #ffffff;
  }
  .team-card-text {
    padding: 32px 16px;
  }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .studio-team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
  }
  .studio-team-card {
    width: 264px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    background-color: #ffffff;
  }
  .team-card-text {
    padding: 32px 16px;
  }
}
/* Desktop */
@media screen and (min-width: 1158px) {
  .studio-team-list {
    display: flex;
    gap: 24px;
  }
  .studio-team-card {
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    background-color: #ffffff;
  }
  .team-card-text {
    padding: 32px 16px;
  }
}
/* ================== /STUDIO TEAM ================== */
/* ================== CLIENTS ================== */
/* Mobile */
@media screen and (max-width: 767px) {
  .studio-clients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 16px;
  }
  .studio-clients-item {
    width: calc((100% - 16px) / 2);
    height: 88px;
  }
  .studio-clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    color: #8E8F99;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .studio-clients-icon {
    fill: currentColor;
  }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .studio-clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
  }
  .studio-clients-item {
    width: 168px;
    height: 88px;
  }
  .studio-clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    color: #8E8F99;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .studio-clients-icon {
    fill: currentColor;
  }
}
/* Desktop */
@media screen and (min-width: 1158px) {
  .studio-clients-list {
    display: flex;
    gap: 24px;
  }
  .studio-clients-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
  }
  .studio-clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    color: #8E8F99;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .studio-clients-link:hover, .studio-clients-link:focus {
    border-color: #404BBF;
    color: #404BBF;
  }
  .studio-clients-icon {
    fill: currentColor;
  }
}
/* ================== /CLIENTS ================== */
/* ================== PORTFOLIO HERO ================== */
.portfolio-hero {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-filter {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-card {
  flex-basis: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-link {
  display: block;
}

.portfolio-card-link:hover,
.portfolio-card-link:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-text {
  padding: 32px 16px;
  border: 1px solid #E7E9FC;
  border-top: none;
}

.portfolio-box {
  position: relative;
  overflow: hidden;
}

.portfolio-box::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-box:hover .overlay,
.portfolio-box:focus .overlay,
.portfolio-card:focus .overlay,
.portfolio-card:focus .overlay,
.portfolio-card-link:focus .overlay {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: #4D5AE5;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #F4F4FD;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

/* ================== /PORTFOLIO HERO ================== */
/* ================== FOOTER ================== */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2E2F42;
}

/* Mobile */
@media screen and (max-width: 767px) {
  .footer .container {
    display: flex;
    gap: 72px;
    flex-direction: column;
    align-items: center;
  }
  .footer .logo {
    display: inline-block;
    margin-bottom: 16px;
  }
  .footer-block-description {
    text-align: center;
  }
  .footer-description {
    max-width: 268px;
    text-align: left;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
  }
  .footer-social-common {
    margin-bottom: 16px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
  .footer-social-list {
    display: flex;
    gap: 16px;
  }
  .footer-social-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    fill: #F4F4FD;
  }
  .footer-form {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
  }
  .footer-form-description {
    display: block;
    margin-bottom: 16px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
  .footer-form-input {
    width: 398px;
    height: 40px;
    flex-shrink: 0;
    padding-left: 16px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
  }
  .footer-form-input::-moz-placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  .footer-form-input::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  .footer-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 40px;
    padding: 8px 24px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-form-btn-icon {
    margin-left: 16px;
  }
}
/* Mobile-min */
@media screen and (min-width: 320px) and (max-width: 427px) {
  .footer-form-input {
    width: 290px;
  }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    width: 584px;
    align-items: baseline;
    gap: 72px 24px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer .logo {
    display: inline-block;
    margin-bottom: 16px;
  }
  .footer-description {
    max-width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
  }
  .footer-social-common {
    margin-bottom: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
  .footer-social-list {
    display: flex;
    gap: 16px;
  }
  .footer-social-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    fill: #F4F4FD;
  }
  .footer-form {
    display: flex;
    gap: 24px;
  }
  .footer-form-description {
    display: block;
    margin-bottom: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
  .footer-form-input {
    width: 264px;
    height: 40px;
    flex-shrink: 0;
    padding-left: 16px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
  }
  .footer-form-input::-moz-placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  .footer-form-input::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  .footer-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-form-btn-icon {
    margin-left: 16px;
  }
}
/* Desktop */
@media screen and (min-width: 1158px) {
  .footer .container {
    display: flex;
    align-items: baseline;
  }
  .footer .logo {
    display: inline-block;
    margin-bottom: 16px;
  }
  .footer-block-description {
    margin-right: 120px;
  }
  .footer-block-social {
    margin-right: 80px;
  }
  .footer-description {
    max-width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
  }
  .footer-social-common {
    margin-bottom: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
  .footer-social-list {
    display: flex;
    gap: 16px;
  }
  .footer-social-link.link:hover, .footer-social-link.link:focus-visible {
    background-color: #31D0AA;
  }
  .footer-social-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    fill: #F4F4FD;
  }
  .footer-form {
    display: flex;
    gap: 24px;
  }
  .footer-form-description {
    display: block;
    margin-bottom: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
  .footer-form-input {
    width: 264px;
    height: 40px;
    flex-shrink: 0;
    padding-left: 16px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
  }
  .footer-form-input::-moz-placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  .footer-form-input::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  .footer-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-form-btn:hover, .footer-form-btn:focus {
    background-color: #404BBF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-form-btn-icon {
    margin-left: 16px;
  }
}
/* ================== /FOOTER ================== *//*# sourceMappingURL=main.css.map */