.title {
    margin-bottom: 72px;

    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.045em;
    text-transform: capitalize;
    color: var(--primary-blue-color);
}

.studio-title-card {
    margin-bottom: 8px;

    text-align: center;
    font-size: var(--title-card-font-size);
    font-weight: var(--medium-font-weight);
    line-height: 1.2;
    letter-spacing: 0.025em;
    color: var(--primary-blue-color);
}

.title-card {
    margin-bottom: 8px;

    font-size: var(--title-card-font-size);
    font-weight: var(--medium-font-weight);
    line-height: 1.2;
    letter-spacing: 0.025em;
    color: var(--primary-blue-color);
}

.studio-card-description {
    margin-bottom: 8px;

    text-align: center;
    line-height: 1.5;
    letter-spacing: var(--primary-letter-spacing);
    color: var(--text-description-color);
}

.card-description {
    line-height: 1.5;
    letter-spacing: var(--primary-letter-spacing);
    color: var(--text-description-color);
}

.btn {
    padding: 12px 24px;

    cursor: pointer;

    border: 1px solid var(--secondary-white-color);
    border-radius: 4px;
    background-color: var(--text-light-color);

    text-align: center;
    font-weight: var(--medium-font-weight);
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-brand-color);

    transition: background-color 250ms var(--timing-function),
        border-color 250ms var(--timing-function),
        box-shadow 250ms var(--timing-function),
        color 250ms var(--timing-function);
}

.btn:hover,
.btn:focus {
    border: 1px solid transparent;

    background-color: var(--pressed-state-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);

    color: var(--white-background-color);

    transition: background-color 250ms var(--timing-function),
        border-color 250ms var(--timing-function),
        box-shadow 250ms var(--timing-function),
        color 250ms var(--timing-function);
}

/* ================== FOOTER ================== */
.footer {
    padding-top: 100px;
    padding-bottom: 100px;

    background-color: var(--primary-blue-color);
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.footer .logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-block-description {
    margin-right: 120px;
}

.footer-description {
    max-width: 264px;
    
    line-height: 1.5;
    letter-spacing: var(--primary-letter-spacing);
    color: var(--text-light-color);
}

.footer-block-social {
    margin-right: 80px;
}

.footer-social-comon {
    margin-bottom: 16px;

    font-family: var(--primary-font-family);
    font-weight: var(--medium-font-weight);
    line-height: 1.5;
    letter-spacing: var(--primary-letter-spacing);
    color: var(--white-background-color);
}

.footer-socials-list {
    display: flex;
    gap: 16px;
}

.footer-social-link.link:hover,
.footer-social-link.link:focus {
    background-color: var(--success-messages-color);
}

.footer-social-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;

    fill: var(--text-light-color);
}

.footer-form-description {
    display: block;
    margin-bottom: 16px;

    font-family: var(--primary-font-family);
    font-weight: var(--medium-font-weight);
    line-height: 1.5;
    letter-spacing: var(--primary-letter-spacing);
    color: var(--white-background-color);
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-form-input {
    width: 264px;
    height: 40px;
    flex-shrink: 0;
    padding-left: 16px;

    background-color: transparent;;

    border-radius: 4px;
    border: 1px solid var(--white-background-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    font-size: var(--form-label-font-size);
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-background-color);
}

.footer-form-input::placeholder {
    font-size: var(--form-label-font-size);
    line-height: 2;
    letter-spacing: 0.03em;
    color: var(--white-background-color);
}

.footer-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;

    cursor: pointer;

    border: none;
    border-radius: 4px;
    background-color: var(--primary-brand-color);
    
    font-weight: var(--medium-font-weight);
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-background-color);

    transition: background-color 250ms var(--timing-function);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
    background-color: var(--pressed-state-color);

    transition: background-color 250ms var(--timing-function);
}

.footer-form-btn-icon {
    margin-left: 16px;
}
/* ================== /FOOTER ================== */

/* ================== MODAL WINDOW ================== */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  transition: opacity 250ms var(--timing-function),
    visibility 250ms var(--timing-function);

  background-color: rgba(46, 47, 66, 0.40);
}

.modal-backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 24px;
  padding-top: 72px;
  transform: translate(-50%, -50%);

  width: 408px;
  min-height: 584px;
  flex-shrink: 0;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14);

  background-color: var(--modal-background-color);

  transition: transform 250ms var(--timing-function);
}

/* Modal form */
.modal-form-description {
    margin-bottom: 16px;

    text-align: center;
    font-weight: var(--medium-font-weight);
    line-height: 1.5;
    letter-spacing: var(--primary-letter-spacing);
    color: var(--primary-blue-color);
}

.modal-form-element {
    margin-bottom: 8px;
}

.modal-form-label {
    display: block;
    margin-bottom: 4px;

    font-size: var(--form-label-font-size);
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--icon-gray-color);
}

.modal-input-wrapper {
    position: relative;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    flex-shrink: 0;
    padding-left: 38px;

    outline: transparent;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;

    font-size: 18px;

    transition: border-color 250ms var(--timing-function);
}

.modal-form-input:focus {
    outline-color: transparent;
    outline-offset: 4px;
    border-color: var(--primary-brand-color);

    fill: var(--primary-brand-color);
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);

    fill: var(--primary-blue-color);

    transition: fill 250ms var(--timing-function);
}

.modal-form-input:focus + .modal-form-icon {
    fill: var(--primary-brand-color);
}

.modal-form-element-texarea {
    margin-bottom: 16px;
}

.modal-form-texarea {
    width: 100%;
    height: 120px;
    padding: 8px 16px;

    resize: none;

    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    outline: transparent;

    font-size: var(--form-label-font-size);
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);

    transition: border-color 250ms var(--timing-function);
}

.modal-form-texarea:focus {
    outline-color: transparent;
    outline-offset: 4px;
    border-color: var(--primary-brand-color);
}

.modal-form-texarea::placeholder {
    font-size: var(--form-label-font-size);
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--icon-gray-color);

}

.modal-form-element-checkbox {
    margin-bottom: 24px;
}

.modal-form-input-checkbox:checked + .modal-form-checkbox-label .modal-form-span-checkbox {
    background-color: var(--pressed-state-color);
    border: none;

    fill: var(--text-light-color);
}

.modal-form-checkbox-label {
    display: block;
    align-items: center;

    font-size: var(--form-label-font-size);
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--icon-gray-color);
}

.modal-form-checkbox-label a {
    text-decoration: underline;
    color: var(--primary-brand-color);
}

.modal-form-span-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    width: 16px;
    height: 16px;

    cursor: pointer;

    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 2px;

    fill: transparent;

    transition: background-color 250ms var(--timing-function),
        border 250ms var(--timing-function),
        fill 250ms var(--timing-function);
}
/* ================== /MODAL WINDOW ================== */

/* ================== STUDIO ================== */
/* STUDIO HERO */
.studio-hero {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    margin: auto;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.70),
        rgba(46, 47, 66, 0.70)),
        url("../images/people-office.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--primary-blue-color);
}

.studio-hero-title {
    max-width: 496px;
    margin-right: auto;
    margin-bottom: 48px;
    margin-left: auto;
    
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: var(--primary-letter-spacing);
    color: var(--white-background-color);
}

.studio-hero-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    margin-right: auto;
    margin-left: auto;

    cursor: pointer;

    border: none;
    border-radius: 4px;
    background-color: var(--primary-brand-color);

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    
    text-align: center;
    font-weight: var(--medium-font-weight);
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-background-color);

    transition: background-color 250ms var(--timing-function);
}

.studio-hero-btn:hover,
.studio-hero-btn:focus {
    background-color: var(--pressed-state-color);

    transition: background-color 250ms var(--timing-function);
}

/* STUDIO ABOUT */
.studio-about {
    padding-top: 120px;
    padding-bottom: 120px;
}

.studio-about-list {
    display: flex;
    gap: 24px;
}

.studio-about-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.about-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    margin-bottom: 8px;

    border-radius: 4px;
    background-color: var(--text-light-color);
}

.studio-about-icon {
    flex-shrink: 0;
}

/* STUDIO DOING */
.studio-doing {
    padding-top: 60px;
    padding-bottom: 120px;
}

.studio-doing-list {
    display: flex;
    gap: 24px;
}

.studio-doing-item {
    border: 1px solid var(--secondary-white-color);
}

/* CLIENTS */
.studio-clients-list {
    display: flex;
    gap: 24px;
}

.studio-clients-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
}

.studio-clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    border-radius: 4px;
    border: 1px solid var(--icon-gray-color);

    color: var(--icon-gray-color);

    transition: color 250ms var(--timing-function),
        border-color 250ms var(--timing-function);
}

.studio-clients-link:hover,
.studio-clients-link:focus {
    border-color: var(--pressed-state-color);
    color: var(--pressed-state-color);
}

.studio-client-icon {
    fill: currentColor;
}
/* ================== /STUDIO ================== */

/* ================== PORTFOLIO ================== */
.portfolio-hero {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-filter {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-card {
    flex-basis: calc((100% - 2 * 24px) / 3);

    transition: box-shadow 250ms var(--timing-function);
}

.portfolio-card-link {
   display: block; 
}

.portfolio-card-link:hover,
.portfolio-card-link:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);

    transition: box-shadow 250ms var(--timing-function);
}

.portfolio-card-text {
    padding: 32px 16px;

    border: 1px solid var(--secondary-white-color);
    border-top: none;
}

.portfolio-box {
    position: relative;
    overflow: hidden;
}

.portfolio-box::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transition: transform 250ms var(--timing-function);
}

.portfolio-box:hover .overlay,
.portfolio-box:focus .overlay,
.portfolio-card:focus .overlay,
.portfolio-card:focus .overlay,
.portfolio-card-link:focus .overlay {
    transform: translateY(0);
    transition: transform 250ms var(--timing-function);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;

    background-color: var(--primary-brand-color);

    line-height: 1.5;
    letter-spacing: var(--primary-letter-spacing);
    color: var(--text-light-color);

    transition: transform 250ms var(--timing-function);
    transform: translateY(100%);
}
/* ================== /PORTFOLIO ================== */