/* ================== HEADER ================== */
.header {
    &-page {
        box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
            0px 1px 1px 0px rgba(46, 47, 66, 0.16),
            0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    }
}

.menu {
    @extend %list;
}

.contacts-list {
    @extend %list;
}

/* Mobile-min */
@media screen and (max-width: 427px) {
    
    .header {
        &-page {
            padding-top: 24px;
            padding-bottom: 24px;
        }

        &-container {
            @include positionFlex($position: space-between);
        }
    }

    .burger-menu-btn {
        padding: 0;
        border: none;
        background-color: transparent;

        line-height: 0;
    }

    .icon {

        &-burger-menu-btn {
            stroke: $primary-blue-color;
        }
    }

    .menu {
        display: none;

        &-link {
            font-size: 36px;
            font-weight: 700;
            line-height: calc(40 / 36);
            letter-spacing: 0.045em;
            text-transform: capitalize;
            color: $primary-blue-color;
        }
    }

    .contacts {
        display: none;

        &-list {
            @include gapFlex(40px);
            flex-direction: column-reverse;
        }

        &-item {
            &.tel {
                font-size: 26px;
                font-style: normal;
                font-weight: 700;
                line-height: calc(30 / 26);
                letter-spacing: 0.02em;
                text-transform: capitalize;
                color: $pressed-state-color;
            }
        }

        &-item {
            &.email {
                font-size: $title-card-font-size;
                font-style: normal;
                font-weight: $medium-font-weight;
                line-height: calc(24 / 20);
                letter-spacing: 0.025em;
                color: $text-description-color;
            }
        }
    }
}

/* Mobile */
@media screen and (min-width: 428px) and (max-width: $breakpoint-mobile-maxw) {
    .header {
        &-page {
            padding-top: 24px;
            padding-bottom: 24px;
        }

        &-container {
            @include positionFlex($position: space-between);
        }
    }

    .burger-menu-btn {
        padding: 0;
        border: none;
        background-color: transparent;

        line-height: 0;
    }

    .icon {
        &-burger-menu-btn {
            stroke: $primary-blue-color;
        }
    }

    .menu {
        display: none;

        &-link {
            font-size: 36px;
            font-weight: 700;
            line-height: calc(40 / 36);
            letter-spacing: 0.045em;
            text-transform: capitalize;
            color: $primary-blue-color;
        }
    }

    .contacts {
        display: none;

        &-list {
            @include gapFlex(40px);
            flex-direction: column-reverse;
        }

        &-item {
            &.tel {
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: calc(40 / 36);
                letter-spacing: 0.02em;
                text-transform: capitalize;
                color: $pressed-state-color;
            }

            &.email {
                font-size: $title-card-font-size;
                font-style: normal;
                font-weight: $medium-font-weight;
                line-height: calc(24 / 20);
                letter-spacing: 0.025em;
                color: $text-description-color;
            }
        }
    }
}

/* Tablet */
@media screen and (min-width: $breakpoint-tablet-minw) and (max-width: $breakpoint-tablet-maxw) {
    .header-container {
        display: flex;
    }

    .navigation {
        display: flex;
        align-items: center;
    }

    .menu {
        @include gapFlex(40px);

        .current {
            color: $pressed-state-color;
        }

        &-link {
            position: relative;
            display: block;
            padding: 24px 0;

            font-weight: $medium-font-weight;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: $primary-letter-spacing;
            color: $primary-blue-color;

            transition: color 250ms $timing-function;

            &:hover,
            &:focus {
                color: $pressed-state-color;

                transition: color 250ms $timing-function;
            }
        }
    }

    .current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;

        width: 100%;
        height: 4px;
        flex-shrink: 0;

        background-color: $pressed-state-color;
        border-radius: 2px;
    }

    .contacts {
        font-style: normal;
        align-items: center;
        margin-left: auto;

        &-list {
            @include gapFlex(12px);
            flex-direction: column;
            padding: 16px 0;
        }

        &-item {
            display: block;
            line-height: 1.5;
            letter-spacing: $primary-letter-spacing;

            font-size: 12px;
            line-height: calc(14 / 12);
            letter-spacing: 0.04em;
            color: $text-description-color;

            transition: color 250ms $timing-function;

            &:hover,
            &:focus {
                color: $pressed-state-color;

                transition: color 250ms $timing-function;
            }
        }
    }

    .mobile-menu {
        display: none;
    }

    .burger-menu-btn {
        display: none;
    }
}

/* Desktop */
@media screen and (min-width: $breakpoint-desktop-minw) {
    /* Double */
    .header-container {
        display: flex;
    }

    .navigation {
        display: flex;
        align-items: center;
    }

    .menu {
        @include gapFlex(40px);

        .current {
            color: $pressed-state-color;

            
        }

        &-link {
            position: relative;
            display: block;
            padding: 24px 0;

            font-weight: $medium-font-weight;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: $primary-letter-spacing;
            color: $primary-blue-color;

            transition: color 250ms $timing-function;

            &:hover,
            &:focus {
                color: $pressed-state-color;

                transition: color 250ms $timing-function;
            }
        }
    }

    .current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;

        width: 100%;
        height: 4px;
        flex-shrink: 0;

        background-color: $pressed-state-color;
        border-radius: 2px;
    }

    .contacts {
        font-style: normal;
        align-items: center;
        margin-left: auto;

        &-list {
            @include gapFlex(40px);
        }

        &-item {
            display: block;
            padding: 24px 0;
            line-height: 1.5;
            letter-spacing: $primary-letter-spacing;
            color: $text-description-color;

            transition: color 250ms $timing-function;

            &:hover,
            &:focus {
                color: $pressed-state-color;

                transition: color 250ms $timing-function;
            }
        }
    }

    /* Double */
    .mobile-menu {
        display: none;
    }

    .burger-menu-btn {
        display: none;
    }
    /* /Double */
}
/* ================== /HEADER ================== */