/* ================== STUDIO DOING ================== */
.studio-doing-list {
    @extend %list;
}

/* Mobile */
@media screen and (max-width: $breakpoint-mobile-maxw) {

    .studio-doing {
        display: none;
    }
}

/* Tablet */
@media screen and (min-width: $breakpoint-tablet-minw) and (max-width: $breakpoint-tablet-maxw) {

    .studio-doing {
        display: none;
    }
}

/* Desktop */
@media screen and (min-width: $breakpoint-desktop-minw) {

    .studio-doing {
        padding-bottom: 120px;

        &-list {
            @include gapFlex(24px);
        }

        &-item {
            border: 1px solid $secondary-white-color;
        }
    }
}
/* ================== /STUDIO DOING ================== */