/* ================== STUDIO ABOUT ================== */
.studio-about-list {
    @extend %list;
}

/* Mobile */
@media screen and (max-width: $breakpoint-mobile-maxw) {

    .about-icon-container {
        display: none;
    }

    .studio-about-list {
        @include gapFlex(72px);
        flex-direction: column;
    }
}

/* Tablet */
@media screen and (min-width: $breakpoint-tablet-minw) and (max-width: $breakpoint-tablet-maxw) {

    .studio-about {
        &-list {
            display: flex;
            flex-wrap: wrap;
            gap: 72px 24px;
        }

        &-item {
            flex-basis: calc((100% - 24px) / 2);
        }
    }

    .about-icon-container {
        display: none;
    }
}

/* Desktop */
@media screen and (min-width: $breakpoint-desktop-minw) {
    
    .about-icon-container {
        @include positionFlex();

        width: 264px;
        height: 112px;
        flex-shrink: 0;
        margin-bottom: 8px;

        border-radius: 4px;
        background-color: $text-light-color;
    }

    .studio-about {
        &-list {
            @include gapFlex(24px);
        }

        &-item {
            flex-basis: calc((100% - 3 * 24px) / 4);
        }

        &-icon {
            flex-shrink: 0;
        }
    }
}
/* ================== /STUDIO ABOUT ================== */