/* ================== STUDIO TEAM ================== */
.studio-team {
    background-color: $text-light-color;
}

.studio-team-list {
    @extend %list;
}

/* Mobile */
@media screen and (max-width: $breakpoint-mobile-maxw) {

    .studio-team {
        &-list {
            @include gapFlex(72px);
            flex-direction: column;
        }

        &-card {
            width: 264px;
            margin-left: auto;
            margin-right: auto;

            border-radius: 0 0 4px 4px;
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);

            background-color: $white-background-color;
        }
    }

    .team-card-text {
        padding: 32px 16px;
    }
}

/* Tablet */
@media screen and (min-width: $breakpoint-tablet-minw) and (max-width: $breakpoint-tablet-maxw) {

    .studio-team {
        &-list {
            display: flex;
            flex-wrap: wrap;
            gap: 64px 24px;
            justify-content: center;
        }

        &-card {
            width: 264px;

            border-radius: 0 0 4px 4px;
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);

            background-color: $white-background-color;
        }
    }

    .team-card-text {
        padding: 32px 16px;
    }
}

/* Desktop */
@media screen and (min-width: $breakpoint-desktop-minw) {

    .studio-team {
        &-list {
            @include gapFlex(24px);
        }

        &-card {
            flex-basis: calc((100% - 3 * 24px) / 4);

            border-radius: 0 0 4px 4px;
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);

            background-color: $white-background-color;
        }
    }

    .team-card-text {
        padding: 32px 16px;
    }
}
/* ================== /STUDIO TEAM ================== */