/* ================== SOCIAL-LINKS ================== */
/* Mobile-min */
.studio-socials-list {
    @extend %list;
}

@media screen and (max-width: 427px) {

    .studio-socials-list {
        @include gapFlex(24px);

        .mobile-menu-content & {
            @include gapFlex(24px);

            justify-content: center;
        }
    }
}

/* Mobile */
@media screen and (min-width: 428px) and (max-width: $breakpoint-mobile-maxw) {
    
    .studio-socials-list {
        @include gapFlex(24px);

        .mobile-menu-content & {
            @include gapFlex(56px);

            justify-content: center;
        }
    }
}

/* Tablet */
@media screen and (min-width: $breakpoint-tablet-minw) and (max-width: $breakpoint-tablet-maxw) {
    
    .studio-socials-list {
        @include gapFlex(24px);
    }
}

/* Desktop */
@media screen and (min-width: $breakpoint-desktop-minw) {
    .studio-socials-list {
        @include gapFlex(24px);
    }
}

.social-item {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    justify-content: center;

    border-radius: 50%;

    .link {
        @include positionFlex();

        width: 100%;
        height: 100%;
        border-radius: 50%;

        background-color: $primary-brand-color;

        transition: background-color 250ms $timing-function;

        &:hover,
        &:focus-visible {
            background-color: $pressed-state-color;

            transition: background-color 250ms $timing-function;
        }
    }
}

/* Studio-team */
.studio-social-icon {
    flex-shrink: 0;

    fill: $text-light-color;
}

/* ================== /SOCIAL-LINKS ================== */