/* ================== CONTAINER ================== */
/* Mobile */
@media screen and (max-width: 767px) {

    .container {
        max-width: 428px;
        padding-right: 15px;
        padding-left: 15px;
        margin-left: auto;
        margin-right: auto;
    }
        
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1157px) {
    .container {
        width: 768px;
        /* Double */
        padding-right: 15px;
        padding-left: 15px;
        margin-left: auto;
        margin-right: auto;
        /* /Double */
    }
}

/* Desktop */
@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
        /* Double */
        padding-right: 15px;
        padding-left: 15px;
        margin-left: auto;
        margin-right: auto;
        /* /Double */
    }
}
/* ================== /CONTAINER ================== */