/* ================== SECTION ================== */
/* Mobile */
@media screen and (max-width: $breakpoint-mobile-maxw) {

    .section {
        padding-top: 96px;
        padding-bottom: 96px;
    }
}

/* Tablet */
@media screen and (min-width: $breakpoint-tablet-minw) and (max-width: $breakpoint-tablet-maxw) {
    .section {
        padding-top: 96px;
        padding-bottom: 96px;
    }
}

/* Desktop */
@media screen and (min-width: $breakpoint-desktop-minw) {

    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}
/* ================== /SECTION ================== */